<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Whiskey</title>
				<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
				<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
				<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/base-min.css">
				
				<link href='https://fonts.googleapis.com/css?family=Forum' rel='stylesheet' type='text/css'>
				
				<link rel="stylesheet" type="text/css" href="/styles.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
	<div class="container">
		<div class="pure-g inner-container">
			<section class="pure-u-1 body">
				<div class="pure-u-1-1">
	 				<div class="pure-u-1-1 title">
						<h1><%=rotgut.name%></h1>
					</div>
				</div>
				<div class="content-wrapper">
					<div class="pure-u-1-1">
	 					<div class="pure-u-1-1 content">
							<p><%=rotgut.content%></p>
						</div>
					</div>
						<div class="pure-u-1-1"> <a class="button-success pure-button" href="/hooch/<%=rotgut.id%>/edit"> Edit this page</a></div>
				</div>
			</section>
			<section class="pure-u-1 country_brand body">
				<div class="pure-u-1-1">
	 				<div class="pure-g linkbox">
	 					<div class="pure-u-1 pure-u-lg-1-2 country">
	 						<h1>Countries that make <%=rotgut.name%></h1>
		 					<ul class="pure-menu-list">
									<%poteen.forEach(function(e){ %>
								<li class="pure-menu-item"> <a class="similar" href="/country/<%= e.id %>"><%=e.name%></a></li>
									<% }) %>
							</ul>
						</div>
						<div class="pure-u-1 pure-u-lg-1-2 brand">
							<h1>Brands of <%=rotgut.name%></h1>		
							<ul class="pure-menu-list">
									<%poison.forEach(function(el){ %>
								<li class="pure-menu-item"> <a class="similar" href="/brand/<%= el.id %>"><%=el.name%></a></li>
									<% }) %>
							</ul>	
						</div>				
					</div>
				</div>
			</section>
		</div>
	</div>

 	
	
</body>
</html>