.container {
  	padding: 0px;
  	width: 100%;
  	color: #F7F4ED;
}
html, body {
  	margin: 0;
  	padding: 0;
  	width: 100vw;
}
html{ 
	width:100%; 
	height:100%; 
    background:#fff url(/images/bg-ww.png) center center no-repeat;
    background-attachment: fixed;
    background-size:cover;
}
body {
	font-family: 'Space Mono', monospace;
	font-size: 14px;
	min-height: 100%;
}
p{
	font-family: 'Space Mono', monospace;
	font-size: 14px;
}
h1 {
	color: #F7F4ED;
	font-family: 'BioRhyme', serif !important;
	font-weight: 300;
	font-size: 30px;
}
.header{
	padding: 8% 0px;
	height: auto;
	width: 100%;
}
.header img {
    transform: rotate(-5deg);
	margin: auto;
	display: block;
}
.pure-menu{
	height: auto;
	width: auto;
	padding: 0px;
}
nav {
	margin: auto !important;
  	text-align: center !important;
}
nav ul {
  	list-style: none!important;
}
nav ul li a,
.pure-menu-link {
  	display:inline-block !important;
  	padding: 0.5em 1em !important;
  	margin: 0 !important;
  	font-family: 'Oswald', sans-serif;
  	font-size: 45px !important;
  	color: #F7F4ED !important;
}
ul {
	list-style: none;
	display:inline-block;
	margin: auto;
	padding-left: 0px;
}
ul li a{
	text-decoration: none;
	list-style: none;
  	padding: 0.5em 1em 0.5em 0em;
  	margin: 0;
  	font-family: 'Space Mono', monospace;
  	font-size: 14px;
  	color: #F7F4ED !important;
  	width: 100%;
}
ul li a:hover,
ul li a:focus {
	color: #dfa10b;
	background-color: transparent !important;
}
ul li {
	display: inline-block;
	float: left;
	width: 12em;
	padding: 0px;
}
.pure-menu-link {
	color: #F7F4ED;
}
.pure-menu-item:hover,
.pure-menu-item:focus {
	color: #dfa10b;
	background-color: transparent !important;
}

nav ul li a:hover, 
nav ul li:hover,
.pure-menu-link:focus {
	color: #dfa10b !important;
	background-color: transparent !important;
}
.compare{
	font-family: 'Space Mono', monospace;
	font-weight: 700;
	font-size: 20px;
	color: #F7F4ED;
	text-align: left;
	-webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
}
.compare h1 {
	font-size: 20px;
}
.title{
	font-family: 'Cormorant Unicase', serif !important;
	font-weight: 700;
}
.title h1{
	font-size: 40px;
	margin: 0px;
}
.content{
	font-family: 'Space Mono', monospace !important;
	font-size: 20px !important;
}
.content-wrapper {
	padding: 0px
}
.label_notes{
	font-family: 'Space Mono', monospace;
}
.body{
	padding: 20px 40px;
}
.inner-container{
	padding: 70px;
}
.list{
	height: auto;
	padding: 0px 40px 0px 0px;
}
.similar{
	color: #F7F4ED;
	font-family: 'Space Mono', monospace;
	font-size: 14px;
	font-weight: 700;
	/* text-transform: uppercase; */
}
.similar:hover,
.similar:focus{
	color:#dfa10b !important;
}
.pure-button{
	background-color: #336699;
	font-family: 'Space Mono', monospace;
	font-size: 15px;
	color: #F7F4ED;
}
.country{
	font-size: 14px;
	color: #F7F4ED;
	font-family: 'Playfair Display', serif;
	font-weight: 900;
}
.country h1{
	width: 100%;
}
.brand{
	font-size: 20px;
	color: #F7F4ED;
	font-family: 'Playfair Display', serif;
}
.country_brand{
/*	border: solid;
	border-color: #8A949E;*/
	padding-top: 20px;
}
.instructions{
	padding-bottom: 5px;
}
.wrapper{
	margin: auto;
}
.form_paper{
	position: absolute;
	width: 60%;
	height: auto;
	float: right;
	padding: 20px;
}
.form_pen{
	float: left;
	width: 20%;
	height: auto;
}
.form_pen img{
	float: left;
	width: auto;
	padding-top: 40%;
}
.form_container{
	max-width: 100%;
	padding-bottom: 40px;
	margin: auto;
}
.form_content{
	color: #F7F4ED;
	font-family: 'BioRhyme', serif !important;
	font-weight: 300;
	font-size: 30px;
}
.pure-button{
	background-color: transparent;
	padding: 0px;
	text-transform: uppercase;
	font-family: 'Space Mono', monospace;
	font-size: 14px;
	font-weight: 900;
}
.pure-button:hover,
.pure-button:focus{
	color:#dfa10b;
}
.pure-form textarea{
	background-image: url(/images/paper2.png);
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: auto;
	padding: 40px;
	font-size: 16px;
	line-height: 25px;
}
input, select, textarea{
    color: #000;

}
.request{
	color: #F7F4ED;
	font-family: 'BioRhyme', serif !important;
	font-weight: 300;
	font-size: 20px;
}
.add_hooch{
	display: inline;
	color: #F7F4ED;
}
.pure-u-3-5{
	float: right;
}

.pure-img {
	width: 50%;
}

.pure-menu-item {
	width: auto;
}