body{
	background-image: url(/images/floor.jpg);
	background-color: black;
}
#title{
	text-align: center;
	color: #191919;
	font-size: 100px;
	font-family: 'Fredericka the Great', cursive;
	height: auto;
	margin: auto;
	border-style: groove;
	border-color: #191919;
	border-width: 8px;
	padding-bottom: 30px;
	padding-top: 30px;
}
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}
nav {
  text-align: center;
  padding: 0.5em;
  font-family: 'Forum', cursive;
}
nav ul {
  list-style: none;
 
}
nav ul li {
  display:inline-block;
  padding: 0.5em 1em;
  margin: 0;
  font-family: 'Forum', cursive;
  font-size: 20px;
  color: #8A949E;
}
.container{
	margin-right: 100px;
	margin-left: 100px;
	margin-top: 100px;
	color: whitesmoke;
	z-index: 1;
	max-height: 100%;
}
.compare{
	font-family: 'Forum', cursive !important;
	font-size: 20px;
	color: whitesmoke;
	border: solid;
	border-color: #8A949E;
	text-align: center;
}
.title{
	font-family: 'Forum', cursive !important;
	font-size: 30px;
}
.content{
	font-family: 'Forum', cursive !important;
	font-size: 20px;
}
.label_notes{
	font-family: 'Forum', cursive !important;
}
.body{
	padding-left: 20px;
	padding-bottom: 20px;
}
.list{
	margin: auto;
}
.similar{
	color: #336699;
}
.pure-button{
	background-color: #336699;
	font-family: 'Forum', cursive !important;
	font-size: 15px;
	color: whitesmoke;
}
.country{
	display: inline;
	float: left;
	text-align: center;
	font-size: 20px;
	color: whitesmoke;
	font-family: 'Forum', cursive !important;

}
.brand{
	display: inline;
	float: right;
	text-align: center;
	font-size: 20px;
	color: whitesmoke;
	font-family: 'Forum', cursive !important;

}
.country_brand{
	border: solid;
	border-color: #8A949E;
	padding-top: 20px;
	margin-bottom: 100px;
}
.form_paper{
	background-image: url(/images/paper.png);
	background-repeat: no-repeat;
	width: 800px;
	height: 300vh;
}
.form_container{
	max-width: 100%;
	height: 800px;
	padding-bottom: 40px;
}
.form_content{
	color: #331A00;
	font-family: 'La Belle Aurore', cursive !important;
	font-size: 30px;
	margin-left: 130px;
	margin-top: 50px;
}
.pure-form{
	margin-left: 80px;
}
img{
	padding-top: 300px;
	position: absolute;
	left: 900px;
}
input, select, textarea{
    color: #331A00;

}
.request{
	color: #331A00;
	font-family: 'La Belle Aurore', cursive !important;
	font-size: 20px;
}
.add_hooch{
	display: inline;
	color: #331A00;
}


