<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Whiskey</title>
				<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
				<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
				<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/base-min.css">
				
				<link href='https://fonts.googleapis.com/css?family=Forum' rel='stylesheet' type='text/css'>
				
				<link rel="stylesheet" type="text/css" href="/styles.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
	<div class="container">
		<div class="pure-g">
			<section class="pure-u-1 body">
				<div class="pure-u-1-1">
	 				<div class="pure-u-1-1 title">
						<h1><%=rotgut.name%></h1>
					</div>
				</div>
				<div class="pure-u-1-1">
	 				<div class="pure-u-1-1 content">
						<p><%=rotgut.content%></p>
					</div>
				</div>
						<div class="pure-u-1-1"> <a class="button-success pure-button" href="/hooch/<%=rotgut.id%>/edit"> Edit this page.</a></div>
			</section>
			<section class="pure-u-1 country_brand">
				<div class="pure-u-1-1">
	 				<div class="pure-u-1-1 linkbox">
		 				<div class="pure-u-1-2 country">Countries that make <%=rotgut.name%>
									<%poteen.forEach(function(e){ %>
							<h4> <a class="similar" href="/country/<%= e.id %>"><%=e.name%></a></h4>
									<% }) %>
						</div>		
						<div class="pure-u-1-2 brand">Brands of <%=rotgut.name%>
									<%poison.forEach(function(el){ %>
							<h4> <a class="similar" href="/brand/<%= el.id %>"><%=el.name%></a></h4>
									<% }) %>
						</div>					
					</div>
				</div>
			</section>
		</div>
	</div>

 	
	
</body>
</html>